.banner ul, .banner li {
	margin: 0;
	padding: 0;
}

.banner ul {
	list-style: none;
}

.banner {
	margin-top: 10px;
	overflow: hidden;
}

.large-box {
	position: relative;
	width: 530px;
  height: 350px;
  overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.large-box ul li a {
  display: block;
  height: 350px;
  cursor: pointer;
  text-align: center;
  background: #646464;
}

.small-box {
	width: 530px;
}

.small-list {
	position: relative;
	float: left;
	width: 460px;
	overflow: hidden;
}

.small-list ul li {
	position: relative;
	float: left;
	width: 111px;
	margin-right: 8px;
}

.small-list ul li a {
	display: block;
	height: 75px;
	cursor: pointer;
	background: #646464;
	text-align: center;
	border: 1px solid #ddd;
}

.small-list ul li .active-bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 75px;
	background: #000;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

.small-list ul li.on .active-bg {
	display: block;
}

.small-box .btn {
	display: block;
	width: 20px;
	height: 75px;
	background-color: #777;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.small-box .btn:hover {
	background-color: #e7000e;
}

.left-btn {
	float: left;
	margin-right: 8px;
	background-image: url(../images/left_btn.png);
}

.right-btn {
	float: right;
	background-image: url(../images/right_btn.png);
}

.large-box .label-tip {
	position: absolute;
	bottom: 0;
  left: 0;
	font-size: 11px;
	color: #fff;
	padding: 5px;
	text-align: left;
	background-color: #ddd!important;
}